apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend-container
          image: fastapi-frontend
          imagePullPolicy: Never
          # nginx serves on port 80 inside the container
          ports:
            - containerPort: 80
